<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <h1>Demo Page</h1>
    
    <p>{{ data }}</p>
    <p>{{ data|striptags }}</p>
    <p>{{ data|safe }}</p>
    
    <br>
    <h3>Pizza</h3>
    {% for p in pizza %}
        <p>{{ p }}</p>
        {% if p.startswith('M') %}
            {% set x = p %}
        {% endif %}
        {{ p|reverse }}
    {% endfor %}
    
    <br>
    {{ x }}
</body>
</html>