{% extends 'base.html' %}

{% block title %}Username{% endblock title %}

{% block body %}

    {% if name %}
        <h1>Hello {{ name }}</h1>
        <br/>
        <img src="{{ url_for('static', filename='images/logo.png')}}">
        <br/><br/>
        <p id="demo">This is my stuff</p>
    {% else %}
        <h3>What is Your Name?</h3>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    {% endif %}
    
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

{% endblock body %}