{% extends 'base.html' %}

{% block title %}Update User{% endblock title %}

{% block body %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
        {% endwith %}
    </div>    
    
    <div class="shadow p-3 mb-5 bg-body rounded">
    {% if name %}
        <h3>Update User</h3>
        <br/>
        <form action="/username/update/{{name.id}}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", value=name.name) }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=name.email) }}
            {{ form.color.label(class="form-label") }}
            {{ form.color(class="form-control", value=name.color) }}
            <br />
            {{ form.submit(class="btn btn-success") }}
            <a href="{{ url_for('delete',id=name.id)}}" class="btn btn-danger">Delete</a>
        </form>
    {% endif %}
    </div>
{% endblock body %}
    
